.theaterLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.log {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.formcss {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.labelcss {
  font-size: 1.5rem;
}

.inputcss {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.buttoncss {
  background-color: #0077cc;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.buttoncss:hover {
  background-color: #005fa3;
}
.login{
  height: 100vh;
  background-color: darkcyan;
  display: flex;
  justify-content: center;
}
.card{
  width: 50%;
display: flex;
border-radius: 10px;
min-height: 600px;
}

  .left{
  flex: 1;
  background: url("https://media.istockphoto.com/id/1326956550/vector/creative-mind-or-brainstorm-or-creative-idea-concept-with-abstract-human-head-silhouette-and.jpg?s=612x612&w=0&k=20&c=FJkZhj0hYC58Um9aYxoODVk_XfjSemUscwPgNwxlIX0=") center;
  background-size: cover;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: black;
  }   
.title{
  align-items: center;
}